.cursor {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: fixed;
  z-index: 3000;
  pointer-events: none;
  background-size: cover;
  background-color: #ff7f44;
  transform: translate(-50%, -50%);
  transition: transform .1s ease-in-out;
}

.cursor.modalActive {
  background-color: #000;
  display: inline-block;
  transform: scale(.5, .5) translate(-50%, -50%);
}

.cursor.active {
  display: inline-block;
  transform: scale(.5, .5) translate(-50%, -50%);
}

.cursor.active .cursor-btn {
  display: inline-block;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(10px) sepia(30%);
}

.modal {
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
  border-radius: 15px;
  filter: drop-shadow(0px 1px 3px #000);
}

.modalimg {
  width: 40%;
  height: inherit;
  position: relative;
}

.modalimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modaltext {
  white-space: nowrap;
  color: #ff7f44;
  font-size: 1.4rem;
  letter-spacing: 3px;
  width: 60%;
  padding-left: 10%;
  padding-top: 5%;
}

.modaltext h1 {
  font-weight: bold;
  font-size: 6rem;
  color: #222;
}

.modalbtn {
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  transition: all .2s ease-in-out;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

.modalbtnY,
.modalbtnN {
  width: 70px;
  height: 30px;
  background-color: rgba(255, 127, 68, 0.7);
  color: #fff;
  border-radius: 20px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  transition: all .5s ease-in-out;
}

.modalbtnY:hover,
.modalbtnN:hover {
  background-color: rgba(255, 127, 68, 1);
}

.soundwrap {
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 998;
  width: 250px;
  transition: all .3s ease-in-out;
}

.soundwrap:hover+.cursor {
  background: url(../img/icon/play.png)no-repeat center;
  background-size: 1rem;
  filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(70deg) brightness(108%) contrast(108%);
}

.soundwrap.play:hover+.cursor {
  background: url(../img/icon/pause.png)no-repeat center;
  background-size: 1rem;
  filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(70deg) brightness(108%) contrast(108%);
}

.control {
  display: none;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.soundwrap:hover .control {
  display: block;
}

.soundwrap img {
  width: 70px;
  object-fit: cover;
}

.soundwrap.play img {
  animation: soundimg 5s linear infinite;
}

.soundtext {
  position: absolute;
  top: 50%;
  right: 15%;
  color: #ff7f44;
  transform: translateY(-50%);
  font-size: 1rem;
}

.soundtextpb {
  padding-bottom: 5px;
  font-size: 1.2rem;
}

@keyframes soundimg {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.main-wrap {
  position: relative;
  width: inherit;
  height: inherit;
}

.animation {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.main-back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 98;
  animation: main-back 30s ease-in-out infinite;
  animation-delay: 5s;
}

/* -------------- 작업 구간 Start -------------- */

#main {
  background-color: black;
  transition: background-color 0.4s ease-in-out;
  height: auto;
}

#main>div {
  height: 100vh;
}

#main.light {
  background-color: white;
}

#main.light .main-text {
  color: #000;
}

.moon,
.sun {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 500px;
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.moon2 {
  position: absolute;
  top: 20vh;
  left: 60vw;
  max-width: 500px;
  opacity: 0;
}

.moon img {
  max-width: 100%;
}

.moon.animate {
  opacity: 1;
  transform: translate(60vw, -50vh);
}

.moon2.animate {
  opacity: 1;
  animation: opacity .5s ease-in;
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sun.animate {
  opacity: 1;
  transform: translate(60vw, -50vh);
}

.main-title .roll-text {
  display: flex;
  flex-direction: column;
  height: 125px;
  width: 180px;
  overflow: hidden;
}

.main-title .roll-text span {
  position: absolute;
  transform: translateY(100%);
}

.roll-text span.active {
  transform: translateY(0);
  animation: text-glitch 1s forwards;
}

/* @keyframes text-glitch {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
} */

.main-text {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 0 10vw;
  z-index: 98;
  font-size: 10rem;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 700;
}

.main-title {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.main-title.active {
  color: #000;
}

.roll-text {
  display: flex;
  flex-direction: column;
}

.nowrap {
  white-space: nowrap;
}

/* .roll-text {
  animation: roll 5s infinite;
  width: 100%;
  height: 125px;
} */

/* @keyframes roll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
} */

.roll-wrap h1 {
  position: absolute;
  top: 0;
  left: 0;
}

.roll-wrap h1:nth-child(2) {
  top: 120px;
  left: 0;
}

.roll-wrap h1:nth-child(3) {
  top: 240px;
  left: 0;
}

.main-title>h1:nth-child(2) {
  padding-left: 193px;
}

/* main */

#about {
  background-color: #222;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-about {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about-title {
  font-size: 5rem;
}

.about-text {
  font-size: 2rem;
  line-height: 35px;
  color: #D3D3D3;
}

.about-text span {
  font-size: 2.5rem;
  color: #ff7f44;
}

/* about */

.portfolio-wrap {
  width: 100%;
  height: 600vh;
  position: relative;
  background-color: #222;
}

.item-wrap {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background-color: #222;
}

.trigger {
  width: 70%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.pin {
  position: absolute;
  top: 0;
  transform: translateY(100%);
  height: 100vh;
}

.port-wrap {
  position: relative;
  width: inherit;
  height: inherit;
}

.video-wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  background-blend-mode: multiply;
}

.video-wrap video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-bg {
  position: absolute;
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.video-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.port-text {
  position: absolute;
  top: 50%;
  left: 10vw;
  z-index: 10;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
}

.port-text::before {
  content: "";
  display: block;
  width: 10px;
  height: 250px;
  background-color: #fff;
  position: absolute;
  top: 15px;
  left: 0;
}

.con-title {
  font-size: 10rem;
  letter-spacing: 3px;
}

.con-p {
  font-size: 2rem;
  padding-top: 20px;
  line-height: 30px;
}

.con-li {
  font-size: 1.6rem;
  padding-top: 10px;
  padding-bottom: 40px;
  opacity: .7;
  display: flex;
  align-items: center;
  gap: 20px;
}

.port-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
}

.port-img a {
  width: 100%;
  height: 100%;
}

.port-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.con-btn {
  width: 150px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.con-btn a {
  width: inherit;
  height: inherit;
}

.con-btn p {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Noto Sans KR", "sans-serif";
  font-size: 1.5rem;
  z-index: 2;
  line-height: 40px;
  text-align: center;
  width: inherit;
  height: inherit;
}

.con-btn p.active {
  color: #000;
  transition: all .3s ease-in-out;
  z-index: 11;
}

.btnbg {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: #fff;
  border-radius: inherit;
  transition: all .5s ease-in-out;
  opacity: 0;
}

.btnbg.active {
  opacity: 1;
  z-index: 10;
}

/* portfolio */

footer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.inner-footer {
  width: 100%;
  height: 100%;
  padding: 10% 10%;
}

.contact {
  font-family: 'suite';
  width: 100%;
  height: 100%;
  position: relative;
}

.contact-title {
  font-size: 2rem;
  padding-bottom: 50px;
  opacity: .5;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.contact-about {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: start;
  align-self: start;
}

.contact-text {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: end;
  align-self: end;
  font-size: 2rem;
  color: #FFFFFF80;
}

.contact-text span {
  color: #ff7f44;
}

.contact-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 5rem;
}

/* .email::before {
  content: "";
  display: inline-block;
  background: url(../img/icon/email.png) no-repeat center;
  width: 20px;
  height: 20px;
  background-size: contain;
  padding-right: 40px;
}

.phone::before {
  content: "";
  display: inline-block;
  background: url(../img/icon/phone.png) no-repeat center;
  width: 20px;
  height: 20px;
  background-size: contain;
  padding-right: 30px;
} */

.contact-right {
  font-size: 2rem;
  font-weight: 500;
  width: max-content;
  line-height: 30px;
}

.github {
  width: 40px;
  height: 40px;
}

.github img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: invert(100%);
}

/* contact */

#main.light .intro-text {
  color: black;
}

.innermenu {
  position: fixed;
  top: 50px;
  right: 50px;
  display: flex;
  align-items: center;
  gap: 40px;
  z-index: 998;
  transition: all .3s ease-in-out;
}

.innermenu li a {
  color: #ff7f44;
  font-size: 1.8rem;
}

.innermenu li a::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ff7f44;
  transform: scaleX(0);
  transition: all .2s ease-in-out;
}

.innermenu li a:hover::after {
  transform: scaleX(1);
}

@media (hover: none) {
  *:hover {
    background-color: inherit;
    color: inherit;
  }

  * {
    cursor: none
  }
}